@font-face {
    font-family: 'Druk';
    src: local('DrukWide-Bold-Trial'),
    url('DrukWide-Bold-Trial.woff2') format('woff2'),
    url('DrukWide-Bold-Trial.woff') format('woff'),
    url('DrukWide-Bold-Trial.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: local('DrukWide-Heavy-Trial'),
    url('DrukWide-Heavy-Trial.woff2') format('woff2'),
    url('DrukWide-Heavy-Trial.woff') format('woff'),
    url('DrukWide-Heavy-Trial.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: local('DrukWide-Medium-Trial'),
    url('DrukWide-Medium-Trial.woff2') format('woff2'),
    url('DrukWide-Medium-Trial.woff') format('woff'),
    url('DrukWide-Medium-Trial.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: local('DrukWide-Super-Trial'),
    url('DrukWide-Super-Trial.woff2') format('woff2'),
    url('DrukWide-Super-Trial.woff') format('woff'),
    url('DrukWide-Super-Trial.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
